section {
    width: 100%;
     margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    display: inline-block;
    
}
.foton1{

}
.see-all-post {
    border-radius: 100px;
    background-color: #6cc1e0;
    border: none;
    font-family: Lato 'Footlight MT';
    font-weight: normal;
}
.foton {
    position:absolute;
    background:#fff;
    width:65px;
    height:60px;
    border-radius:100px;
    margin-top:13.5%;
    margin-left:11%;
}
.colored {
    font-size: 33px;
    color: #83888B;
    padding-top:30px;
    font-family: Lato 'Footlight MT';

}
.colored-text-left {
    color: #83888B;
    font-family: Lato 'Footlight MT';
    padding-top: 20px;
    padding-left: 50px;
}
.colored-text-right {
    padding-top: 20px;
    color: #83888B;
    font-family: Lato 'Footlight MT';
    padding-left: 50px;
}
/*Videos we've done together*/
colored-title {
    color: #464646;
}
nav ul {
    margin-top: 40px;
    overflow:hidden;
    text-align: center;
}
nav  ul  li {
    margin: 10px;
    display: inline;
    list-style: none;
    text-decoration: none;
}
nav  ul  li a {

    color: #474747;
    list-style: none;
    text-decoration: none;
}
nav  ul  li a:hover {
    color: #6cc1e0;
    font-weight: bold;
    text-decoration: none;
}


.blogtext {
    font-size:small;
}
article {
    width: 40%;
    display: inline-block;
    float:left;
    margin-left:60px;
   

}
section div {
     margin-left:16;
}

.white {
    color: white;
    margin-left: auto;
    margin-right: auto;
}
.map {
    background-image: url(../images/map_freelancers.png);
}
#image-background {
    position:relative;
    bottom: 140px;
}
.talent-map {
    color: #464646;
    font-size: 34px;
    text-align: center;
}

.freelancer-man {
    padding-top: 120px;
    padding-bottom: 120px;
}

    .freelancer-man img {
        margin-left: 54%;
        border-radius: 100px;
        border: 5px solid #fff;
        vertical-align: bottom;
    }

.jumbotron {
    
    padding: 30px;
    color: inherit;
}

.latest-blog {

}
.videos-done {

}


.mission {
    background-image: url("../images/bgr_main_and_whyworkwithus_2.png");
}

.map #icon-planet {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.next-to-img {
    color: #83888B;
    font-size: 28px;
}

.mission {
    padding-top: 100px;
    padding-bottom: 100px;
}

.pad-our-mission {
    padding-top: 150px;
    color: #fff;
    font-size: 63px;
}

.pad-buttons-bottom {
    padding-bottom: 100px;
    padding-top: 20px;
}

.btn-rounded {
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

.totop {
    position: fixed;
    bottom: 5px;
    right: 5px;
    width: 49px;
    height: 80px;
}

.yellow {
    background-color: #e4c00a;
    color: #023052;
    font-weight: bold;
}

.logo {
    margin-left: 250px;
}

.background-background {
    background: none;
}

.mini-menu {
    position: fixed;
}

    .mini-menu ul {
        display: inline-block;
        position: relative;
        padding-top: 4px;
        overflow: hidden;
        margin-left: 600px;
    }

    .mini-menu nav ul li {
        list-style: none;
        display: inline-block;
    }

        .mini-menu nav ul li a {
            font-size: 12px;
            display: inline;
            color: white;
            font-weight: bold;
            margin-right: 20px;
        }

            .mini-menu nav ul li a:hover {
                text-decoration: none;
                color: #62c5f7;
                font-style: oblique;
            }

.mini-img {
    margin-left: 5px;
}

@media screen and (max-width:1210px) {

    .logo {
        margin-left: 150px;
    }

    .mini-menu ul {
        margin-left: 500px;
    }
}

@media screen and (max-width:1110px) {
    .nav > li > a {
        padding-right: 0px;
    }

    .logo {
        margin-left: 80px;
    }

    .mini-menu ul {
        margin-left: 400px;
    }
}

@media screen and (max-width:964px) {

    .logo {
        margin-left: 30px;
    }

    .mini-menu ul {
        margin-left: 250px;
    }
}

@media screen and (max-width:946px) {

    .logo {
        position: fixed;
        top: 0px;
        left: 0;
    }
}


@media screen and (max-width:905px) {

    .logo {
        margin-left: 30px;
    }

    .mini-menu ul {
        margin-left: 250px;
    }
}

@media screen and (max-width:764px) {


    .mini-menu ul {
        margin-left: 100px;
    }
}

@media screen and (max-width:680px) {

    .images-blog {
        overflow: hidden;
        margin-left: 10px;
    }
}

@media screen and (max-width:610px) {

    .mini-menu ul {
        margin-left: 0px;
    }
}

@media screen and (max-width:510px) {

    span {
        display: none;
    }
}

@media screen and (max-width:422px) {

    .freelancer-man img {
        margin-left: 50px;
    }
}
@media screen and (max-width:680px) {

   .video-menu  nav  ul  li a {
     
    border-radius: 5px;
    margin-top: 0px;
    width: 100%;
    background: black;
    }
}


