.logo {
    max-height:100%;
    max-width:100%;
}
.mission {
    padding-top:100px;
    padding-bottom:100px;
}
.btn-rounded {
    padding-left:30px;
    padding-right:30px;
    border-radius:40px;
}
.yellow {
    background-color: #ff6a00;
    color: #ffffff;
}
.missiontext {
    width:73%;
    padding-left:350px;
    padding-bottom:30px;
}
.white {
    color:#ffffff;
}
